In [9]:
# definitions and import statments
DATAPATH = "/mnt/d/python/data/"
FILENAME = "mushrooms.data"

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from imblearn.under_sampling import RandomUnderSampler

# make displays a bit easier
pd.set_option('display.width', 75)
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 20)

In [10]:
# read in mushroom dataset
d = pd.read_csv(DATAPATH+FILENAME)

In [14]:
d.head()

In [15]:
d.columns = ("target", "f1", "f2", "f3", "f4", "f5", "f6", "f7", "f8", "f9",
             "f10", "f11", "f12", "f13", "f14", "f15", "f16", "f17", "f18",
             "f19", "f20", "f21", "f22")

In [5]:
d.head()

,target,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f13,f14,f15,f16,f17,f18,f19,f20,f21,f22
0,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
1,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
2,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
3,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g
4,e,x,y,y,t,a,f,c,b,n,...,s,w,w,p,w,o,p,k,n,g

In [16]:
# look at class balance
print("target ratio:\n" + str(d["target"].value_counts()))

target ratio:
e    4208
p    3915
Name: target, dtype: int64

In [17]:
# isolate target and features
X = d.drop("target", axis=1)
y = d["target"]

In [18]:
# undersample the data to balance classses
undersampler = RandomUnderSampler(random_state=42, sampling_strategy= 'all')
under_X, under_y = undersampler.fit_resample(X, y)
under_y.value_counts()

e    3915
p    3915
Name: target, dtype: int64

In [9]:
under_X.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f13,f14,f15,f16,f17,f18,f19,f20,f21,f22
0,x,y,e,t,n,f,c,b,u,t,...,s,p,p,p,w,o,p,n,v,d
1,f,y,r,f,n,f,c,n,h,e,...,f,w,w,p,w,o,f,h,v,d
2,x,y,e,t,n,f,c,b,u,t,...,s,g,p,p,w,o,p,k,y,d
3,f,s,n,f,n,a,c,b,o,e,...,s,o,o,p,n,o,p,b,c,l
4,b,f,w,f,n,f,w,b,g,e,...,s,w,w,p,w,t,p,w,s,g

In [19]:
desc = under_X.describe()

In [26]:
desc = desc.T
hi_card = desc[desc["unique"] > 5].index.to_numpy()

array(['f1', 'f3', 'f5', 'f9', 'f14', 'f15', 'f20', 'f21', 'f22'],
      dtype=object)

In [1]:
a = ['y','n','y','n','y','n','y','n']

In [2]:
from naivebayes import BayesTherory 
bt = BayesTherory()

In [2]:
a.append(None)

In [3]:
from naivebayes import BayesTherory

In [4]:
BayesTherory().prob_given_label(a,'y')

loop start i:0

added one to count new count is 1

popped first item off of list new len is 8

popped first item off of list new len is 7

added one to count new count is 2

popped first item off of list new len is 6

popped first item off of list new len is 5

added one to count new count is 3

popped first item off of list new len is 4

popped first item off of list new len is 3

added one to count new count is 4

popped first item off of list new len is 2

popped first item off of list new len is 1

value of next item is None this must be the end of the list

0.4444444444444444

In [28]:
# for each feature in list with label 'y' count the features observations

#x, y = ([1, 2, 2, 3, 5], ['y', 'n', 'y', 'n', 'y'])
x, y = ([1, 0, 1, 0, 1], ['y', 'n', 'y', 'n', 'y'])

# conditonal Counter
def cond_counter(x:list,y:list,cond_y) -> dict:
    d = {}
    for k,v in zip(x,y):
        if v == cond_y:
            if k in d:
                d[k] += 1
            else:
                d[k] = 1
    return d
d = cond_counter(x,y,'y')
d

{1: 3}

In [26]:
l = y.count('y')
for k,v in zip(d.keys(), d.values()):
    print("feature "+ str(k) + " prob in class 'y' is " + str(v) + "/"+ str(l) + "\n")

feature 1 prob in class 'y' is 1/3

feature 2 prob in class 'y' is 1/3

feature 5 prob in class 'y' is 1/3

In [1]:
x, y = ([1, 0, 1, 0, 1], ['y', 'n', 'y', 'n', 'y'])

In [2]:
from naivebayes import BayesTherory as bt

In [3]:
x = [x,x]
x

[[1, 0, 1, 0, 1], [1, 0, 1, 0, 1]]

In [4]:
y

['y', 'n', 'y', 'n', 'y']

In [5]:
# the class label we are looking for
cond_y = 'y'

In [6]:
import pandas as pd
import numpy as np
# casting to numpy array
x = np.array(x)
# flipping to mach columns
x = x.T
# casting to df
x = pd.DataFrame(x,columns=["f1", "f2"])

In [8]:
bt.prob_feature_given_label(bt(), X=x, y=pd.Series(np.array(y).T), cond_y='y')

{'f1': {1: 1.0}, 'f2': {1: 1.0}}

### Lets try it on a small chunk of real data

In [25]:
x = under_X.sample(15, random_state=42)
y = under_y[x.index]

In [26]:
y.head()

1142    e
4567    p
2592    e
1677    e
4958    p
Name: target, dtype: object

In [27]:
# reduce the complexity of the data
x = x.drop(["f2", "f3", "f7", "f8", "f9", "f10", "f11", "f12","f13","f14","f15"], axis=1)
x.head()

     f1 f4 f5 f6 f16 f17 f18 f19 f20 f21 f22
1142  f  t  n  f   p   w   o   p   n   v   d
4567  x  f  c  f   p   w   o   p   n   s   d
2592  x  f  n  f   p   w   o   e   k   s   g
1677  f  t  l  f   p   w   o   p   u   v   d
4958  f  f  f  f   p   w   o   l   h   y   d

In [30]:
bt().prob_feature_given_label(X=x, y=y, cond_y='p')

{'f1': {'x': 0.8333333333333334, 'f': 0.16666666666666666},
 'f4': {'f': 0.8333333333333334, 't': 0.16666666666666666},
 'f5': {'c': 0.16666666666666666,
  'f': 0.5,
  's': 0.16666666666666666,
  'p': 0.16666666666666666},
 'f6': {'f': 1.0},
 'f16': {'p': 1.0},
 'f17': {'w': 1.0},
 'f18': {'o': 1.0},
 'f19': {'p': 0.3333333333333333,
  'l': 0.3333333333333333,
  'e': 0.3333333333333333},
 'f20': {'n': 0.16666666666666666,
  'h': 0.3333333333333333,
  'w': 0.3333333333333333,
  'k': 0.16666666666666666},
 'f21': {'s': 0.3333333333333333, 'y': 0.16666666666666666, 'v': 0.5},
 'f22': {'d': 0.6666666666666666,
  'g': 0.16666666666666666,
  'p': 0.16666666666666666}}